<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="startFolder" value="C:\Users\Phil\Desktop\Scripts"/>
    <add key="extensions" value="*.sql"/>
  </appSettings>
</configuration>